:root{
  font-weight: bold;
  font-family: sans-serif;
}

.links{
  color: white;
  padding: .5em;
  font-size: 24px;        
}

#welcome-section{
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
}

#img-icon{
  width: 75px;
}


body{
  color: black; 
  background-color: white;
}

a{
   color: purple;
}
  

.project{
  display: flex;
  flex-wrap: wrap;   
  row-gap:10px;
  column-gap: 10px;
}



#navbar{   
 position: fixed; 
 top: 0;
 right: 0;  
 margin: 0;
 padding: 0;  
}

li{   
  float: left;
  list-style-type: none;
  padding: 10;
  margin: 0; 
  background-color: green;
  font-weight: bold;
  
}

button{
  position: relative;
  left: 30px;
  background-color: black;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 2em;
}
